body{
    margin: 5px;
}

.container{
    background: rgb(156, 168, 172);
  
}

#newgame{
    text-align: center;
    padding: 10px;
}

#gamer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#score{
    background-color: brown;
    padding: 2px;
    margin: 5px;
}

.player{
   font-size: 1.5em;
}

#player1 , #player2{
    text-align: center;
    padding: 5px;
 }

