body{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.container{
    background: rgb(156, 168, 172);
}

#newgame{
    text-align: center;
    padding: 10px;
}

#gamer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#dicedisplay, #rolldice, #hold{
    margin: 10px;
}
#score{
    background-color: brown;
    padding: 2px;
    margin: 5px;
}

.player{
   font-size: 1.5em;
}

#player1 , #player2{
    text-align: center;
    padding: 5px;
 }

